[submodule "ghostty"]
	path = ghostty
	url = https://github.com/mattmorganpdx/ghostty.git
	branch = matt/linux-embedded-apprt
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/manaflow-ai/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
